.element {
    background-color: #e097d3;
    height: 200px;
    width: 200px;
    transition: transform 2s ease-in-out; /*target the hover function */
}

.element:hover {
    transform: translateX(100%); /*Hover function */
}